/* Form Container */
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px; /* Added padding */
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}


.form-container label {
  display: block;
  margin-bottom: 10px;
}

.form-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Submit Button */
.form-container button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.form-container button[type="submit"]:hover {
  background-color: #00b377;
}

